section#content {
    margin-top:50px;
}

header#top > div {
    width:100%;
}

header#top div nav div, 
header#top div nav div > div, 
header#top div nav div div ul,
header#top div nav div div ul li ul {
    width:100%;
}

header#top div nav div div ul li + li ul {
    justify-content:flex-end;
}

footer {
    padding:1.5em;
    margin-top:2em;
    text-align:center;
}

.row {
    margin-left:0!important;
    margin-right:0!important;
}

img {
    border: 1px solid #898989;
}