header#top nav,
header#top nav div ul,
header#top nav div ul li ul {
    width:100%;
}

header#top nav div {
    flex-grow: 1;
}

header#top div nav div div ul li + li ul {
    justify-content:flex-end;
}

footer {
    padding:1.5em;
    text-align:center;
}

.row {
    margin-left:0!important;
    margin-right:0!important;
}

img {
    border: 1px solid #898989;
}

a:hover {
    text-decoration:none;
}